/**
 * =========================================================================
 * _bg.scss
 * @description サイト全体の背景レイヤースタイル。ベースのダークカラーとノイズテクスチャを画面全体に固定配置し、リッチな質感を演出します。
 * =========================================================================
 */

@use "../../global" as g;

// 全体背景レイヤー
.c-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: g.$z-index-back;
  width: 100vw;
  height: 100vh;
  height: 100lvh;
  pointer-events: none;
  background-color: g.$color-dark; // ベースの暗い色

  // ノイズテクスチャ
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../../../assets/images/common/noise.jpg");
    background-repeat: repeat;
    mix-blend-mode: color-dodge; // 白い粒を際立たせる
    opacity: 0.12;
  }
}
