// カラー変数
$color-primary: #f9d854; // 爽やかなレモンイエロー
$color-dark: #12161a; // 高級感のあるダークネイビー（背景用）
$color-light: #fcfaf2; // 優しいオフホワイト（テキスト用）

// フォント変数
$font-sans: "Zen Maru Gothic", "M PLUS Rounded 1c", sans-serif;

// font-weight
$font-bold: 700;

// ブレイクポイント
$breakpoints: (
  'md': '(width >= 768px)',  // 768px以上（PC・タブレット用）
  'lg': '(width >= 1024px)'  // 1024px以上（より大きな画面用）
);

// Transition関連
$transition-duration: 0.3s;
$transition-easing: ease-out;

// z-index TODO 随時追加していく
$z-index-back: -1;
$z-index-default: 1;
$z-index-header: 100;
$z-index-nav: 105;
$z-index-hamburger: 110;
$z-index-fv-image-back: 5;
$z-index-fv-inner: 10;
$z-index-fv-image-main: 15;
$z-index-fv-image-front-1: 20;
$z-index-fv-image-front-2: 25;
$z-index-fv-text: 30;

// headerの高さ
$header-height-sp: 6rem;
$header-height-pc: 8rem;

// text-shadow
$text-shadow-text: 0 0.2rem 0.8rem rgb(0 0 0 / 80%);
$text-shadow-title: 0 0.4rem 1.6rem rgb(0 0 0 / 90%);