// カラー変数
$color-primary: #f9d854; // 爽やかなレモンイエロー
$color-dark: #12161a; // 高級感のあるダークネイビー（背景用）
$color-light: #fcfaf2; // 優しいオフホワイト（テキスト用）

// フォント変数
$font-sans: "Zen Maru Gothic", "M PLUS Rounded 1c", sans-serif;

// ブレイクポイント
$breakpoints: (
  'md': '(width >= 768px)',  // 768px以上（PC・タブレット用）
  'lg': '(width >= 1024px)'  // 1024px以上（より大きな画面用）
);