// カラー変数
$color-primary: #f9d854; // 爽やかなレモンイエロー
$color-dark: #12161a; // 高級感のあるダークネイビー（背景用）
$color-light: #fcfaf2; // 優しいオフホワイト（テキスト用）

// フォント変数
$font-sans: "Zen Maru Gothic", "M PLUS Rounded 1c", sans-serif;
